log/*
.application.rb.swp
.bundle/*
*.db
public/css/smoothness/*
public/development-bundle/*
views/processing-js-0.9.1-examples/*
#app-carl.rb#
.#app-carl.rb
#app-carl.rb#
lib/test_model.rb~
#app-carl.rb#
